<%= @posts.each do |post| %>
<h2><%= post.title %></h2>
<div><%= truncate(post.body, :length => 35) %></div>
<!-- shows an excert of the body(35 words) -->
<br>
<%= link_to "Read Post", post %>
<!-- post = prefix - post ($ rake roots)-->
<% end %>
